.ipynb_checkpoints/
data/raw/imgs/
*.tmp
*weights.hdf5
.idea/
notebooks/Experimentation.ipynb
functions/__pycache__/
data/predictions/
data/validation_predictions/
*.docx
notebooks/Modeling_new-Copy1.ipynb
notebooks/Modeling-Copy1.ipynb
notebooks/Modeling-archive.ipynb
data/weights/